<% include ./header/head %>
  <% include ./header/nav %>
    <br><br><br>
    <div class="container">
      <a href="/login"><button id="sign-in" class="btn btn-basic">Sign_In</button></a>

      <h1> Welcome to the mentor app. Sign up as a mentor or mentee to get started </h1>
      <br><br><br>

      <div>
        <h1>This div will contain an image</h1>
      </div>

      <br><br><br>

      <div class="row container">

        <div id class="col-md-6">
          <a href="/mentor_signup"><button class="btn btn-default" id="welcome-text">Mentor Sign Up</button></a>

        </div>
        <div class="col-md-6">
          <a href="/mentee_signup"><button class="btn btn-default">Mentee Sign Up</button></a>

        </div>
      </div>
    </div>
    </body>

    </html>
