<html>
<head>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
 <title><%= this.title %></title>
</head>

<body>
<%= this.body %><
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
          </ul>
        
        </div>
      </div>
    </nav>
    <br><br><br>
<div class="container">
<a href="/login"><button id="sign-in" class="btn btn-basic">Sign_In</button></a>
<%= this.title %>
<h1> Welcome to the mentor app. Sign up as a mentor or mentee to get started </h1>
<br><br><br>

<div>
	<h1>This div will contain an image</h1>
</div>

<br><br><br>

<div class="row container">

<div id class="col-md-6">
<a href="/mentor_signup"><button class="btn btn-default" id="welcome-text">Mentor Sign Up</button></a>

</div>
<div class="col-md-6">
<a href="/mentee_signup"><button class="btn btn-default">Mentee Sign Up</button></a>

</div>
</div>
</div>	
</body>
</html>