

<% include ./header/head %>
  <% include ./header/nav_logged_out %>

    <br><br><br>
    <div class="container">
      <a href="/login"><button id="sign-in" class="btn btn-default">Sign_In</button></a>
    </div>
    <div class="container well">

      <h1> Welcome to the mentor app. Sign up as a mentor or mentee, and get started today! </h1>
      <br><br><br>


      <div>
        <img id="home-logo" src="/images/logo.jpg">
      </div>

      <br><br><br>

      <div class="row container">

        
      </div>
        <div class="col-md-12">
          <a href="/signup"><button class="btn btn-success btn-xlg">Sign Up</button></a>

        </div>
    </div>
    </body>

    </html>
