<% include ./header/head %>
  <div class="container-fluid">
  <% include ./header/nav %>

<div class="container">

<h1><header>Mentor Sign up Form</header></h1>
<br><br>
<form method="post" action="/signup_mentor">
  <div class="form-group">
    <label for="mentor_sign_up">User Name</label>
    <input name="username" type="text" class="form-control" id="mentee_name" placeholder="Please, enter a username, under 25 charcters.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">First Name</label>
    <input name="f_name" type="text" class="form-control" id="mentee_f_name" placeholder="Enter your first name, under 20 charcters.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">Last Name</label>
    <input name="l_name" type="text" class="form-control" id="mentee_l_name" placeholder="Enter your last name, under 20 charcters.">
  </div>

   <div class="form-group">
    <label for="mentor_sign_up">Career Path</label>
    <input name="career_path" type="text" class="form-control" id="mentee_career_path" placeholder="Enter your desired career_path
  </div>

  <div class="form-group">
    <label for="mentor_sign_up">Email</label>
    <input type="email" name="email" class="form-control" id="mentor_sign_up" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="mentor_sign_up">Location</label>
    <input name="location" type="text" class="form-control" id="mentor_sign_up" placeholder="San Francisco, Ca.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">Education</label>
    <input name="education" type="text" class="form-control" id="education" placeholder="Please enter or select highest level of completed education.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">M.O.S.</label>
    <input name="mos" type="text" class="form-control" id="mos" placeholder="Please enter specialization or MOS, ex: 21B.">
  </div>

  <div class="form-group">
    <label for="mentor_sign_up">Age</label>
    <input name="age" type="text" class="form-control" id="age" placeholder="Please enter your age.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">Personal Interests</label>
    <input name="personal_interests" type="text" class="form-control" id="personal_interests" placeholder="Please enter your personal_interests.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">Branch of Service</label>
    <input name="branch" type="text" class="form-control" id="branch" placeholder="Branch of Sevice, ex: Army, Marines, Navy etc.">
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Bio</label>
    <textarea name="bio" class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input name="image" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="container">
<% include ./footer/footer %>
</div>
