<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
</head>
</head>
<body>


<div class="container">

<h1><header>mentor Sign up Form</header></h1>
<br><br>
<form method="post" action="/signup">
  <div class="form-group">
    <label for="mentor_sign_up">User Name</label>
    <input name="username" type="text" class="form-control" id="mentor_name" placeholder="<%= mentor.username %>">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">First Name</label>
    <input name="f_name" type="text" class="form-control" id="mentor_f_name" placeholder="Enter your first name, under 20 charcters.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">Last Name</label>
    <input name="l_name" type="text" class="form-control" id="mentor_l_name" placeholder="Enter your last name, under 20 charcters.">
  </div>

   <div class="form-group">
    <label for="mentor_sign_up">Career Path</label>
    <input name="career_path" type="text" class="form-control" id="mentor_career_path" placeholder="Enter your desired career_path
  </div>

  <div class="form-group">
    <label for="mentor_sign_up">Email</label>
    <input type="email" name="email" class="form-control" id="mentor_sign_up" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="mentor_sign_up">Location</label>
    <input name="location" type="text" class="form-control" id="mentor_sign_up" placeholder="San Francisco, Ca.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">Education</label>
    <input name="education" type="text" class="form-control" id="education" placeholder="Please enter or select highest level of completed education.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">M.O.S.</label>
    <input name="mos" type="text" class="form-control" id="mos" placeholder="Please enter specialization or MOS, ex: 21B.">
  </div>

  <div class="form-group">
    <label for="mentor_sign_up">Age</label>
    <input name="age" type="text" class="form-control" id="age" placeholder="Please enter your age.">
  </div>
  <div class="form-group">
    <label for="mentor_sign_up">Personal Interests</label>
    <input name="personal_interests" type="text" class="form-control" id="personal_interests" placeholder="Please enter your personal_interests.">
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Bio</label>
    <textarea name="bio" class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input name="image" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>