
<% include ./header/head %>
  <% include ./header/nav %>


    <br><br><br><br>
<div class="container">
<h1><header>This is the profile!!</header></h1>
<br><br><br>
<%= image %>
	<div><img id="profile-img" src="../public/images/<%= image %>"></div>
<!--  --><br><br><br>
	<div id="profile-info">profile info</div>
<br><br>
	<div id="profile-bio">profile bio</div>
<br><br>
<% include ./footer/footer %>
</div>
