<div class="container">
<% include ./header/head %>
  <% include ./header/nav %>
</div>
	<h1> React Stuff</h1>
<div id="app"></div>
<script type='text/javascript'>
  var userFromServer =<%-JSON.stringify(user)%>
</script>

	<script type="text/javascript" src="webpack-file.bundle.js"></script>
	<% include ./footer/footer %>
