body {
  padding-top: 50px;
}

#welcome-text {
  margin-left: 410px;
}

#sign-in {
  margin: 5px 20px 5px -15px;
   padding: 18px 28px;
   position: left;
    font-size: 22px; 
    margin-left: 420px;
    margin-top: 0px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
  
}
#logo-nav{
	height: 60px;
	width: 60px;
	padding-bottom: 20px;
	margin-top: -9px;
	margin-left: 10px;
}
#chatbox{
	border-color: black;
	font: 13px Helvetica, Arial; border-color: black;
	border: 0; padding: 10px; width: 40%; margin-right: .5%; 
}
#chat-send{
	width: 10%; background: rgb(130, 224, 255); border: none; padding: 10px;
}
#form-group{
	 box-sizing: border-box;
}
<<<<<<< HEAD
#chatarea{
	display: none;
}
.btn-xlg{
    padding: 18px 28px;
    font-size: 52px; //change this to your desired size
    position: center;
    margin-left: 420px;
    margin-top: 0px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
#home-logo{
	height: 500px;
	width: auto;
	margin-left: 63px;
	border-radius: 15px;
}
=======
>>>>>>> parent of 20c8f41... added body parser and parsed cookie, after I placed user id in session cookie; then, I extracted user id and associated it with each message sent. Still need to render db messages in view.
